@media only screen {
	/* Web fonts (latin only) */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 700;
	  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	.column_cell a,
	.column_cell p,
	.column_cell li,
	.column_cell h1,
	.column_cell h2,
	.column_cell h3,
	.column_cell h4,
	.column_cell h5,
	.column_cell h6 {
		font-family: 'Open Sans', sans-serif!important;
	}
	.column_cell .text_display {
		font-weight: 300!important;
	}
	.column_cell p,
	.column_cell li {
		font-weight: 400!important;
	}
	.ebutton a,
	.ebutton span,
	.ebutton_xs a,
	.ebutton_xs span,
	.column_cell h1,
	.column_cell h2,
	.column_cell h3,
	.column_cell h4,
	.column_cell h5,
	.column_cell h6,
	.column_cell strong {
		font-weight: 700!important;
	}
	/* Button Enhancement */
	.ebutton td,
	.ebutton_xs td {
		padding: 0!important;
	}
	.ebutton a {
		padding: 13px 24px!important;
	}
	.ebutton_xs a {
		padding: 10px 20px!important;
	}
	.ebutton a,
	.ebutton_xs a {
		display: block!important;
	}
	/* Grid Fix */
	.col_50 {
		max-width: 50%!important;
		float: left;
	}
}
@media (max-width: 689px) {
	/* Columns */
	.col_1,
	.col_2,
	.col_3,
	.col_50,
	.col_order {
		display: block!important;
		max-width: 100%!important;
	}
	/* Content Alignment */
	.mobile_center {
		text-align: center!important;
	}
	.mobile_center .ebutton,
  .mobile_center .ebutton_xs,
	.mobile_center .column_inline {
    float: none!important;
		margin: 0 auto!important;
		width: auto!important;
		min-width: 0!important;
		display: inline-block!important;
	}
	/* Mobile Padding */
	.mob_py {
		padding-top: 16px!important;
		padding-bottom: 16px!important;
	}
	.mob_py_0 {
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	.mob_py_md {
		padding-top: 32px!important;
		padding-bottom: 32px!important;
	}
	.mob_pt_0 {
		padding-top: 0!important;
	}
	.mob_pt {
		padding-top: 16px!important;
	}
	.mob_pb {
		padding-bottom: 16px!important;
	}
	.mobile_hide {
		max-height: 0 !important;
    display: none !important;
    mso-hide: all !important;
    overflow: hidden !important;
    font-size: 0 !important;
	}
	/* Rounded Corners */
	.brounded_left {
		border-radius: 0!important;
	}
	.brounded_right {
		border-radius: 0 0 4px 4px!important;
	}
	/* Images */
	.img_inline img {
		width: 100%!important;
		height: auto!important;
	}
}
