$primary:             #2376dc;
$secondary:           #e5e9ee;
$light:               #d1deec;
$dark:                #212121;
$white:               #ffffff;
$text_primary:        $primary;
$text_secondary:      #959ba0;
$text_light:          $light;
$text_dark:           #333333;
$text_white:          $white;
$border_primary:      $primary;
$border_secondary:    $secondary;
$border_light:        #dee0e1;
$border_dark:         $dark;
$border_white:        $white;
$facebook:            #3664a2;
$twitter:             #1a8bf0;
$instagram:           #cf2896;
$youtube:             #e62d28;
$google:              #de5347;
$pinterest:           #be2026;
